[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
requests = "*"
pip = "*"

[dev-packages]
pytest = "*"
pytest-docker = "*"
"e1839a8" = {path = ".", editable = true}
