atomicwrites==1.1.5
attrs==18.1.0
BeautifulSoup==3.2.1
boto==2.48.0
certifi==2018.4.16
chardet==3.0.4
funcsigs==1.0.2
idna==2.7
more-itertools==4.2.0
pluggy==0.6.0
py==1.5.4
pytest==3.6.3
pytest-docker==0.6.1
requests==2.19.1
six==1.11.0
urllib3==1.23
